// base color
$blue: #324157;
$light-blue: #3A71A8;
$red: #C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;

// 默认菜单主题风格
$base-menu-color: #dbe9d5;
$base-menu-color-active: #fff7e1;
$base-menu-background: #2f4f2f;
$base-logo-title-color: #ffffff;

$base-menu-light-color: #2f3c2b;
$base-menu-light-background: #f4f8ef;
$base-logo-light-title-color: #001529;

$base-sub-menu-background: #395f39;
$base-sub-menu-hover: #2a472a;

$--color-primary: #3e6a2f;
$--color-success: #5f8f45;
$--color-warning: #b48a34;
$--color-danger: #9e4f35;
$--color-info: #6e7f64;

$base-sidebar-width: 200px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuColor: $base-menu-color;
  menuLightColor: $base-menu-light-color;
  menuColorActive: $base-menu-color-active;
  menuBackground: $base-menu-background;
  menuLightBackground: $base-menu-light-background;
  subMenuBackground: $base-sub-menu-background;
  subMenuHover: $base-sub-menu-hover;
  sideBarWidth: $base-sidebar-width;
  logoTitleColor: $base-logo-title-color;
  logoLightTitleColor: $base-logo-light-title-color;
  primaryColor: $--color-primary;
  successColor: $--color-success;
  dangerColor: $--color-danger;
  infoColor: $--color-info;
  warningColor: $--color-warning;
}
